<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TradeControl.Network.Properties.Settings.tcNodeConnectionString"
            connectionString="Data Source=IAM;Initial Catalog=tcNode;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>